<div class="side-search-option">
  <div class="toggler">more</div>
  <div class="title"><%= t('.title') %></div>
  <div class="fields">
    <% conditions = params[:assigned_to].present? %>
    <% @organization.leaders.each do |leader| %>
      <% if params[:include_archived] %>
        <% count = leader.assigned_contacts_limit_org_with_archived(@organization).collect(&:id).count %>
      <% else %>
        <% count = leader.assigned_contacts_limit_org(@organization).collect(&:id).count %>
      <% end %>
      <div class="option checkbox">
        <%= check_box_tag "assigned_to[]", leader.id, conditions && params[:assigned_to].include?(leader.id.to_s), id: "search_assigned_to_#{leader.id}", class: "search_assigned_to_checkbox" %>
        <%= leader.name %>
        <span class="info">(<span class="count"><%= count %></span>)</span>
      </div>
    <% end %>
  </div>
</div>